%body
  .container
    .page-header
      %h1
        Meet our team
        %small we are so cool
    .row
      / first member
      .member.span4
        .member-avatar
          = image_tag "img/team/man.png", class: "thumbnail"
        .member-meta
          .member-name
            %h2
              John Doe
              %small Founder and CEO
          .member-social
            %a{:href => "#"}
              %i.elegant-icon-facebook
            %a{:href => "#"}
              %i.elegant-icon-delicious
            %a{:href => "#"}
              %i.elegant-icon-blogger
            %a{:href => "#"}
              %i.elegant-icon-linkedin
            %a{:href => "#"}
              %i.elegant-icon-flickr
            %a{:href => "#"}
              %i.elegant-icon-twitter
            %a{:href => "#"}
              %i.elegant-icon-email
          .member-description
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
      / second member
      .member.span4
        .member-avatar
          = image_tag "img/team/woman.png", class: "thumbnail"
        .member-meta
          .member-name
            %h2
              Jane Doe
              %small Makes coffe
          .member-social
            %a{:href => "#"}
              %i.elegant-icon-facebook
            %a{:href => "#"}
              %i.elegant-icon-googleplus
            %a{:href => "#"}
              %i.elegant-icon-linkedin
            %a{:href => "#"}
              %i.elegant-icon-twitter
            %a{:href => "#"}
              %i.elegant-icon-email
          .member-description
            %p
              Magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      / third member
      .member.span4
        .member-avatar
          = image_tag "img/team/man.png", class: "thumbnail"
        .member-meta
          .member-name
            %h2
              John Doe
              %small Chief Operating Officer
          .member-social
            %a{:href => "#"}
              %i.elegant-icon-facebook
            %a{:href => "#"}
              %i.elegant-icon-twitter
            %a{:href => "#"}
              %i.elegant-icon-wordpress
            %a{:href => "#"}
              %i.elegant-icon-email
          .member-description
            %p
              Ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
