%body
  %iframe.hidden-phone{:frameborder => "0", :height => "450", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=40.052282,86.572266&amp;t=m&amp;z=4&amp;output=embed"}
  .container
    .row
      .span4
        .page-header.center
          %h2 Any questions?
          %p Here you can see frequently asked question. If  you cant find an answer, You know what to do.
        %h4 How much do web projects cost?
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elitanim id est laborum.
        %h4 How long does a project take to finish?
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elitanim id est laborum.
        %h4 Can you sign our confidentiality agreement?
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elitanim id est laborum.
        %h4 Lorem ipsum dolor?
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
      .span8
        .row
          .span4.contact-info
            .page-header
              %h2 Contact us
              %p Lets stay in touch. You can contact us using information below, or using contact form on this page.
            %h4 Visit us
            %p 1111-A Nowhere Lane
            %p Outta Sight, State 90378
            %hr/
            %h4 Contact via email
            %p
              %a{:href => "#"}
                %i.icon-envelope
                email@email.com
            %hr/
            %h4 Call/fax us
            %p
              +00 12 3456 7890
              %br/
              %small ask for Mike
            %p +00 12 3456 7890
          .span4
            .page-header.center
              %h2 Contact form
              %p You can even write about wheather. We really want to talk with you!
            %form{:action => "post"}
              %label{:for => "name"}/
              %p Your name
              %input#name{:type => "text"}/
              %label{:for => "email"}/
              %p Your email
              %input#email{:type => "text"}/
              %label{:for => "message"}/
              %p Your message
              %textarea#message.span4{:cols => "30", :name => "message", :placeholder => "Type here...", :rows => "10"}
              %br/
              %button.btn.btn-success{:type => "submit"} Send
