%body
  
  .container
    / HEADER
    .page-header.center
      %h1 Pricing
      %h2
        %small So much features and still so cheap? See our pricing plans and order today!
    / PRICING TABLE
    #pricing-table
      .plan.plan1
        .header Enterprise
        .price $59
        .monthly per month
        %ul
          %li
            %b 10GB
            Disk Space
          %li
            %b 100GB
            Monthly Bandwidth
          %li
            %b 20
            Email Accounts
          %li
            %b Unlimited
            subdomains
        %a.signup{:href => ""} Sign up
      .plan.plan2.popular-plan
        .header Professional
        .price $29
        .monthly per month
        %ul
          %li
            %b 5GB
            Disk Space
          %li
            %b 50GB
            Monthly Bandwidth
          %li
            %b 10
            Email Accounts
          %li
            %b Unlimited
            subdomains
        %a.signup{:href => ""} Sign up
      .plan.plan3
        .header Standard
        .price $19
        .monthly per month
        %ul
          %li
            %b 3GB
            Disk Space
          %li
            %b 25GB
            Monthly Bandwidth
          %li
            %b 5
            Email Accounts
          %li
            %b Unlimited
            subdomains
        %a.signup{:href => ""} Sign up
      .plan.plan4
        .header Basic
        .price $9
        .monthly per month
        %ul
          %li
            %b 1GB
            Disk Space
          %li
            %b 10GB
            Monthly Bandwidth
          %li
            %b 2
            Email Accounts
          %li
            %b Unlimited
            subdomains
        %a.signup{:href => ""} Sign up
    %hr/
    %h2
      All plans comes with
      %strong 30 days
      money-back guarantee
      %small order now!
