%footer
  .container
    / COPYRIGHTS
    %p.pull-left Typica - Bootstrap template crafted with passion
    %p.pull-right
      %a{:href => "#"} Back to top
/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ %script{:src => "js/jquery.js"}
/ %script{:src => "js/jquery-easing-1.3.js"}
/ %script{:src => "js/bootstrap.js"}
/ %script{:src => "js/plugins.js"}
/ %script{:src => "js/setup.js"}
